@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto|Roboto+Slab|Viaoda+Libre&display=swap');/* body{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Roboto', sans-serif;
} */
:root{
    --primary-color:#dff9fb;
}
body{
    font-family: 'Roboto';background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    color: white;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}
.landing-text{
    text-align: center;
}
#particles-js{
    width: 100%;
    height: 100vh;
}
nav{
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:fixed;
    width: 100%;
}
nav>.logo{
    margin: 20px;
}
.nav-links{
   display: block;
}
.nav-links>ul{
    display: block;
}
.nav-links>ul>li{
    display: inline;
    margin: 10px 40px;
}
.nav-links>ul>li>a{
    text-decoration: none;
    color: white;
}
.active{
    border-bottom:1px solid var(--primary-color);
    color: black;
}
.fullscreencontainer{
    position:absolute;
    width: 100vw;
    height: 100vh;
}
.intro{
    font-size: 28px;
    margin-bottom: 0px;
    margin-top: 200px;
}
.name{
    margin: 0px;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 900;
    color:var(--primary-color);
    font-family: 'Roboto', sans-serif;
}
.status{
    margin-top: 0px;
}
h1 span{
    background-color: #1565C0;
    width: auto;
    position: relative;
    color: white;
    padding: 5px 5px;
}
