@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto|Roboto+Slab|Viaoda+Libre&display=swap');/* body{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Roboto', sans-serif;
} */
:root{
    --primary-color:#fff;
    --secondary-color:#c471ed;
    --tertiary-color:#ec008c;
}
body{
    font-family: 'Roboto'; /* fallback for old browsers */
    /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
    width: 100%;
    height: 100%;
    color: white;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    z-index: -1;
}
.no-pad{
    padding: 0px;
}
.no-mar{
    margin: 0px;
}
#particles-js{
    width: 100%;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/220444/pexels-photo-220444.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-color: #222222; */
}
.row{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.col-6{
    width: 50%;
    height: auto;
}
/* navbar links */
nav{
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:fixed;
    width: 100%;
    top: 0px;
}
nav>.logo{
    margin: 20px;
}
.nav-links{
   display: block;
}
.nav-links>ul{
    display: block;
}
.nav-links>ul>li{
    display: inline;
    margin: 10px 40px;
}
.nav-links>ul>li>a{
    text-decoration: none;
    color: white;
}
.active{
    border-bottom:1px solid var(--primary-color);
    color: var(--secondary-color);
}
.active a{
    color: var(--secondary-color);
}
/* landing page styles */
.intro{
    font-size: 28px;
    margin-bottom: 0px;
    margin-top: 200px;
}
.name{
    margin: 0px;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--secondary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.status{
    margin-top: 0px;
}
h1 span{
    background-color: var(--tertiary-color);
    width: auto;
    position: relative;
    color: white;
    padding: 5px 5px;
}
/* section styling */
.home{
    height: 100vh;
    width: 100%;
    text-align: center;
    position: absolute;
    background-attachment: fixed !important;
}
.about{
    margin-top: 0px;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
}
.no-particle-container{
    width: 100%;
    height: auto;
}
/* about section styling */
.heading{
    width: 100%;
    font-size: 24px;
    text-align: center;
    padding-top: 40px;
    color: var(--tertiary-color);
}
.heading>h1{
    letter-spacing: 10px;
}
.about-text{
    padding-left: 200px;
    background-color: white;
}
.col-6{
    color: black;
}
.about-img{
    width: 300px;
    margin-left:15%;
    margin-right: 25%;
    border-radius: 75%;
    height: 300px;
}
.about-text>p{
    color:grey;
}
